<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wan.sdutoa.mapper.OfficeMapper">

    <!--试卷归档管理-->
    <select id="selectAllTestPaper" resultType="voQuestionPaper">
        SELECT * FROM jsj_question_paper
    </select>
    <insert id="insertTestPaper" parameterType="voQuestionPaper">
        INSERT INTO jsj_question_paper (teacher, classname,
      course, psource, examineway,
      num, pnum, analyzes,
      plan, invigilation,ab,answer,standard,score,comment,schoolyear,ischange)
    VALUES ( #{teacher},#{classname},#{course},#{psource},
    #{examineway},#{num},#{pnum},#{analyzes},#{plan},#{invigilation},#{ab},#{answer},#{standard},
    #{score},#{comment},#{schoolyear},#{ischange})
    </insert>
    <update id="updateTestPaperByIdSelective" parameterType="voQuestionPaper">
        update jsj_question_paper
            <set>
                <if test="teacher != null">
                    teacher = #{teacher},
                </if>
                <if test="classname != null">
                    classname = #{classname},
                </if>
                <if test="course != null">
                    course = #{course},
                </if>
                <if test="psource != null">
                    psource = #{psource},
                </if>
                <if test="examineway != null">
                    examineway = #{examineway},
                </if>
                <if test="num != null">
                    num = #{num},
                </if>
                <if test="pnum != null">
                    pnum = #{pnum},
                </if>
                <if test="analyzes != null">
                    analyzes = #{analyzes},
                </if>
                <if test="plan != null">
                    plan = #{plan},
                </if>
                <if test="invigilation != null">
                    invigilation = #{invigilation},
                </if>
                <if test="ab != null">
                    ab = #{ab},
                </if>
                <if test="answer != null">
                    answer = #{answer},
                </if>
                <if test="standard != null">
                    standard = #{standard},
                </if>
                <if test="score != null">
                    score = #{score},
                </if>
                <if test="comment != null">
                    comment = #{comment},
                </if>
                <if test="schoolyear != null">
                    schoolyear = #{schoolyear},
                </if>
                <if test="ischange != null">
                    ischange = #{ischange},
                </if>
            </set>
            where qid = #{qid}
    </update>
    <delete id="deleteTestPaperById" parameterType="int">
        DELETE FROM jsj_question_paper
        WHERE qid = #{qid}
    </delete>

    <!--实训归档管理-->
    <select id="selectAllTrainingPaper" resultType="voTrainingPaper">
        SELECT * FROM jsj_training_paper
    </select>
    <insert id="insertTrainingPaper" parameterType="voTrainingPaper">
        INSERT INTO jsj_training_paper(
        teacher,classname,course,psource,examineway,
        num,tnum,nature,analyzes,plan,standard,score,
        comment,schoolyear,ischange
        )VALUES (
        #{teacher},#{classname},#{course},#{psource},
        #{examineway},#{num},#{tnum},#{nature},#{analyzes},
        #{plan},#{standard},#{score},#{comment},#{schoolyear},
        #{ischange}
        )
    </insert>
    <update id="updateTrainingPaperByIdSelective" parameterType="voTrainingPaper">
        UPDATE jsj_training_paper
        <set>
            <if test="teacher != null">
                teacher = #{teacher},
            </if>
            <if test="classname != null">
                classname = #{classname},
            </if>
            <if test="course != null">
                course = #{course},
            </if>
            <if test="psource != null">
                psource = #{psource},
            </if>
            <if test="examineway != null">
                examineway = #{examineway},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="tnum != null">
                tnum = #{tnum},
            </if>
            <if test="nature != null">
                nature = #{nature},
            </if>
            <if test="analyzes != null">
                analyzes = #{analyzes},
            </if>
            <if test="plan != null">
                plan = #{plan},
            </if>
            <if test="standard != null">
                standard = #{standard},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="schoolyear != null">
                schoolyear = #{schoolyear},
            </if>
            <if test="ischange != null">
                ischange = #{ischange},
            </if>
        </set>
        WHERE tid = #{tid}
    </update>
    <delete id="deleteTrainingPaperById" parameterType="int">
        DELETE FROM jsj_training_paper
        WHERE tid = #{tid}
    </delete>

    <!--教研课题管理-->
    <select id="selectAllTopicPaper" resultType="voTopicPaper">
        SELECT * FROM jsj_topics
    </select>
    <insert id="insertTopicPaper" parameterType="voTopicPaper">
        INSERT INTO jsj_topics(
        uuid,name,type,principal,member,starttime,endtime,
        evaluate,gradation,schoolyear
        )
        VALUES (
        #{uuid},#{name},#{type},#{principal},#{member},#{starttime},
        #{endtime},#{evaluate},#{gradation},#{schoolyear}
        )
    </insert>
    <update id="updateTopicPaperByUUIDSelective" parameterType="voTopicPaper">
        UPDATE jsj_topics
        <set>
            <if test="name != null ">
                name = #{name},
            </if>
            <if test="type != null ">
                type = #{type},
            </if>
            <if test="principal != null ">
                principal = #{principal},
            </if>
            <if test="member != null ">
                member = #{member},
            </if>
            <if test="starttime != null ">
                starttime = #{starttime},
            </if>
            <if test="endtime != null ">
                endtime = #{endtime},
            </if>
            <if test="evaluate != null ">
                evaluate = #{evaluate},
            </if>
            <if test="gradation != null ">
                gradation = #{gradation},
            </if>
            <if test="schoolYear != null ">
                schoolYear = #{schoolYear},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>
    <delete id="deleteTopicPaperByUUID" parameterType="string">
        DELETE FROM jsj_topics
        WHERE uuid = #{uuid}
    </delete>
    <!--教研论文管理-->
    <select id="selectAllTeachingPaper" resultType="voTeachingPaper">
        SELECT * FROM jsj_paper
    </select>

    <insert id="insertTeachingPaper" parameterType="voTeachingPaper">
        INSERT INTO jsj_paper(
        uuid,title,author,particpants,level,publisheddate,type,volumeperiod,
        annex,schoolyear
        )VALUES (
        #{uuid},#{title},#{author},#{particpants},#{level},
        #{publisheddate},#{type},#{volumeperiod},#{annex},#{schoolyear}
        )
    </insert>

    <select id="selectTeachingPaperByUUID" parameterType="string" resultType="voTeachingPaper">
        SELECT * FROM jsj_paper WHERE uuid = #{uuid}
    </select>

    <update id="updateTeachingPaperByUUIDSelective" parameterType="voTeachingPaper">
        UPDATE jsj_paper
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="particpants != null">
                particpants = #{particpants},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="publisheddate != null">
                publisheddate = #{publisheddate},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="volumeperiod != null">
                volumeperiod = #{volumeperiod},
            </if>
            <if test="annex != null">
                annex = #{annex},
            </if>
            <if test="schoolyear != null">
                schoolyear = #{schoolyear},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>

    <delete id="deleteTeachingPaperByUUID" parameterType="string">
        DELETE FROM jsj_paper
        WHERE uuid = #{uuid}
    </delete>

</mapper>