<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wan.sdutoa.mapper.PublicMapper">
  <resultMap id="dependentResultMap" type="dependent">
    <id column="ddlCode" javaType="int" property="deptid"/>
    <result column="ddlName" javaType="String" property="dep"/>
  </resultMap>
  <resultMap id="schoolYearResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="syid"/>
    <result column="ddlName" javaType="String" property="schoolyear"/>
  </resultMap>

  <select id="getRoleDDL" resultType="role">
    SELECT rid,role FROM jsj_role
  </select>

  <select id="getDependentDDL" resultMap="dependentResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
    WHERE keyword LIKE 'dept';
  </select>

  <select id="getSchoolYearDDL" resultMap="schoolYearResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
    WHERE keyword LIKE 'schoolYear';
  </select>
</mapper>