<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wan.sdutoa.mapper.PublicMapper">
  <resultMap id="dependentResultMap" type="dependent">
    <id column="ddlCode" javaType="int" property="deptid"/>
    <result column="ddlName" javaType="String" property="dep"/>
  </resultMap>
  <resultMap id="schoolYearResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="syid"/>
    <result column="ddlName" javaType="String" property="schoolyear"/>
  </resultMap>
  <resultMap id="bookLevelResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="blid"/>
    <result column="ddlName" javaType="String" property="booklevel"/>
  </resultMap>
  <resultMap id="searchTypeResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="stid"/>
    <result column="ddlName" javaType="String" property="searchtype"/>
  </resultMap>
  <resultMap id="competitionResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="competitionid"/>
    <result column="ddlName" javaType="String" property="competition"/>
  </resultMap>
  <resultMap id="awardlevelResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="awardlevelid"/>
    <result column="ddlName" javaType="String" property="awardlevel"/>
  </resultMap>
  <resultMap id="gradeResultMap" type="frontQuery">
    <id column="ddlCode" javaType="int" property="gradeid"/>
    <result column="ddlName" javaType="String" property="grade"/>
  </resultMap>

  <select id="getRoleDDL" resultType="role">
    SELECT rid,role FROM jsj_role
  </select>

  <select id="getDependentDDL" resultMap="dependentResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
    WHERE keyword LIKE 'dept'
  </select>

  <select id="getSchoolYearDDL" resultMap="schoolYearResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
    WHERE keyword LIKE 'schoolYear'
  </select>

  <select id="getSchoolYearBySyid" parameterType="int" resultType="String">
    SELECT ddlName
     FROM jsj_systemddl
     WHERE keyword = 'schoolYear' AND ddlCode = #{syid}
  </select>

  <select id="getBookLevelDDL" resultMap="bookLevelResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
    WHERE keyword LIKE 'bookLevel'
  </select>
  <select id="getSearchTypeDDL" resultMap="searchTypeResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
        WHERE keyword LIKE 'searchType'
  </select>
  <select id="getSystemDDLAll" resultType="voSystemDDL">
    SELECT * FROM jsj_systemddl
  </select>
  <select id="getDDLKeywordALL" resultType="voSystemDDL">
    SELECT keyword
    FROM jsj_systemddl
    GROUP BY keyword
  </select>
  <select id="getSystemDDLByKeyword" parameterType="string" resultType="voSystemDDL">
    SELECT *
    FROM jsj_systemddl
    WHERE keyword = #{keyword}
  </select>
  <select id="getCompetitionDDL" resultMap="competitionResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
        WHERE keyword LIKE 'competitionView'
  </select>
  <select id="getAwardLevelDL" resultMap="awardlevelResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
        WHERE keyword LIKE 'level'
  </select>
  <select id="getGradeDDL" resultMap="gradeResultMap">
    SELECT ddlCode,ddlName
    FROM jsj_systemddl
        WHERE keyword LIKE 'grade'
  </select>
</mapper>